// - - - - - - - - - - - - - - - - - - - - - - - - -
// INDEX SCSS
// - - - - - - - - - - - - - - - - - - - - - - - - -

// 1.Global Styles Settings & Functions
// ---------
// - Project settings - these settings overrides default settings of Foundation and Ingrid
@import "_styles-settings.scss";

// 2.Foundation Mixins & Functions
// ---------
// - brings Foundation Grid System, few Resets ...
@import "foundation-sites/foundation.scss";

// 3.Ingrid
// -------------------------------------
// - Ingrid styling system build on Foundation from Zurb
// - Upgraded Foundation Grid System
// - Vertical-Rhythm, Reponsive Typography
@import "ingrid/ingrid";
@import "photoswipe/photoswipe";
@import "lity/lity";

// 4.Custom project mixins and styles
// -------------------------------------
// - usually style mixins used only in this project
// - icons classes and variables
@import "custom/ps-mixins"; // project specific mixins (ussually for style - as skew, border-radius...)
@import "iconfont/iconfont"; // mixins of the icons

// Styles
// @import "custom/fonts";
@import "custom/typography";
@import "custom/navigation";
@import "custom/lity-override";

// Pages
@import "custom/page-home";
@import "custom/page-projects";
@import "custom/page-detail-v1";
