extends layout/basic.pug

block content
  +header(false)
  main#top.page--projects
      ul.projects-list
        +project-preview("Hoststar", "Mathias Wyss", "project-wyss", "wyss-cover")
        +project-preview("FOCUSED", "Paris", "project-focused", "focused-paris-cover")
        +project-preview("Kia Rio", "Product Film", "project-kia-rio", "kia-rio-cover")
        +project-preview("Kia Niro", "I am more!", "project-kia-niro", "kia-niro-cover")
        +project-preview("Kia Picanto", "X-Line", "project-kia-picanto", "kia-picanto-cover")
        +project-preview("Europa-Park", "Die Bergung", "project-europapark", "europapark-cover")
        +project-preview("ZEISS", "Vision Care", "project-zeiss", "zeiss-cover")
        +project-preview("Hoststar", "Portrait “iDa”", "project-ida", "ida-cover")
        +project-preview("VW Nutzfahrzeuge", "Productclips", "project-vw", "vw-cover")
        +project-preview("Volksbank", "Die Gestalterbank", "project-volksbank", "volksbank-cover")
        +project-preview("Andrea Berg", "Ja ich will", "project-berg", "berg-cover")
        +project-preview("Langguth", "Kinospot", "project-langguth", "langguth-cover")
        +project-preview("Die Schwenninger Krankenkasse", "Imagespot", "project-schwenninger", "schwenninger-cover")
        +project-preview("syNeo", "aura paradise!", "project-syneo", "syneo-cover")
        +project-preview("Joy Sportswear", "Commercial", "project-joy", "joy-cover")
      +social-bar
  +footer-to-top
