// 2.5s
@keyframes anim-intro-flyout {
  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: $intro-zi--after-anim;
  }
}
// 2.5
@keyframes anim-intro-logo {
  30%,
  60% {
    opacity: 1;
    transform: translateY(-50%);
  }

  to {
    opacity: 0;
    transform: translateY(-70%);
  }
}

// 2.5s
@keyframes anim-nav-header {
  from,
  80% {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

// 500ms
@keyframes anim-home-offer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
