@font-face {
    font-family: "Brown-Bold";
    src:url("../fonts/lineto-brown-bold.eot");
    src:url("../fonts/lineto-brown-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-brown-bold.woff2") format("woff2"),
        url("../fonts/lineto-brown-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brown-Boldalt";
    src:url("../fonts/lineto-brown-boldalt.eot");
    src:url("../fonts/lineto-brown-boldalt.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-brown-boldalt.woff2") format("woff2"),
        url("../fonts/lineto-brown-boldalt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brown-Reclinbold";
    src:url("../fonts/lineto-brown-reclinbold.eot");
    src:url("../fonts/lineto-brown-reclinbold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-brown-reclinbold.woff2") format("woff2"),
        url("../fonts/lineto-brown-reclinbold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brown-Reclinboldalt";
    src:url("../fonts/lineto-brown-reclinboldalt.eot");
    src:url("../fonts/lineto-brown-reclinboldalt.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-brown-reclinboldalt.woff2") format("woff2"),
        url("../fonts/lineto-brown-reclinboldalt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
