// Footer

#top {
  outline: none !important;
}

footer {
  @include in-row($outer: true);
  padding: 0 $side-padding--mobile;

  .to-top-wrapper {
    padding: rh(0.5) 0;
    text-align: right;
  }

  a {
    position: relative;
    display: inline-block;
    padding: rh(0.5) 0;
    margin: 0 rem(6);

    &::before {
      content: attr(data-value);
      position: absolute;
      top: 0;
      left: 0;
      max-width: rem(0);
      padding: inherit;
      color: $yellow-turbo;
      white-space: nowrap;
      overflow: hidden;
      transition-property: max-width;
      transition-timing-function: linear;
      transition-duration: 200ms;
    }

    &:focus,
    &:hover {
      color: inherit;

      &::before {
        max-width: 100%;
      }
    }
  }
  @include breakpoint(large) {
    display: block;
  }
  @include breakpoint(xlarge) {
    padding-left: $side-padding--xlarge;
    padding-right: $side-padding--xlarge;

    a {
      padding: rh(0.5) 0;
    }
  }
  @include breakpoint(maxed) {
    padding-left: $side-padding--maxed;
    padding-right: $side-padding--maxed;
  }
}
