// Footer

footer {
  @include in-row($outer: true);
  padding: 0 $side-padding--mobile 0;

  .to-top-wrapper {
    padding: rh(0.5) 0;
    text-align: right;
  }

  a {
    display: inline-block;
    padding: rh(0.5) rem(6);
  }

  @include breakpoint(large) {
    display: block;
  }
  @include breakpoint(xlarge) {
    padding-left: $side-padding--xlarge;
    padding-right: $side-padding--xlarge;

    a {
      padding: rh(0.5) rem(12);
    }
  }
  @include breakpoint(maxed) {
    padding-left: $side-padding--maxed;
    padding-right: $side-padding--maxed;
  }
}
