@keyframes anim-project-preview {
  from {
    opacity: 0;
    $tmp-px: rem(20);
    transform: translateY($tmp-px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-project-preview-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    $tmp-px: rem(-50);
    transform: translateX($tmp-px);
  }
}

@keyframes anim-project-thumb-out {
  from {
    transform: translateY(-50%) translateX(0);
  }

  to {
    opacity: 0;
    $tmp-px: rem(100);
    transform: translateY(-50%) translateX($tmp-px);
  }
}
