// 600ms and 2.4s delay on homepage
@keyframes anim-nav-header {
  from{
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

// 500ms
@keyframes anim-nav-header--out {
  from{
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
