@keyframes anim-project-preview-before-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
@keyframes anim-project-preview-after-in {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}
@keyframes anim-project-preview-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anim-project-preview-content-hover-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes anim-project-preview-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
