// 2.5s
@keyframes anim-intro-flyout {
  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
    z-index: $intro-zi--after-anim;
  }
}
// 2.5
@keyframes anim-intro-logo {
  30%,
  60% {
    opacity: 1;
    transform: translateY(-50%);
  }

  to {
    opacity: 0;
    transform: translateY(-70%);
  }
}
@keyframes anim-home-choose {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes anim-home-offer {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes anim-home-offer-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// 3s
@keyframes anim-social-bar {
  80%,
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

// 500ms
@keyframes anim-social-bar-out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

// Exit Manifest IMG
@keyframes anim-manifest-img-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

// Loading dots 600ms
@keyframes anim-loading-dots {
  from {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40%,
  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
