@import "keyframes-navigation";

// Navigation header
.nav-header {
  position: fixed;
  width: 100%;
  z-index: $header-page-zi;
  opacity: 0;
  transform: translateY(-100%);
  @include ps-animate(anim-nav-header, 600ms);

  &.on-home {
    @include ps-animate(anim-nav-header, 600ms, 2400ms);
  }

  .is-exiting & {
    @include ps-animate(anim-nav-header--out, 500ms);
  }

  .header-row {
    @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
  }

  .logo-wrapper,
  .menu-wrapper {
    @include in-column(6, $gutter: 0);

    a {
      display: inline-block;
      padding: rh(0.5) 0;
      letter-spacing: 2.3px;
    }
  }

  .menu-wrapper {
    text-align: right;
  }

  .quick-menu-wrapper {
    display: none;
  }

  .menu-trigger {
    position: relative;
    margin: rem(3) 0;
    @include ps-transition(color);

    &.rotate {
      animation-name: anim-nav-button-rotate;
      animation-duration: 500ms;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: none;
      backface-visibility: hidden;
      perspective: 1000px;
    }

    & > span {
      @include element-invisible;
    }
  }

  &.menu-showed .menu-trigger.rotate {
    animation: none;
  }
  // Overlay Menu
  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $menu-overlay-bgc;
    opacity: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition-property: transform, opacity;
    transition-delay: 300ms, 0s;
    transition-duration: 300ms;
    transition-timing-function: step-start, ease-out;

    ul {
      @include reset-ul;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    li {
      text-align: center;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: rem(50);
      line-height: 1;
      opacity: 0;
      transform: translateY(-1rem);
      @include ps-transition(opacity, transform);

      &::before {
        content: attr(data-value);
        position: absolute;
        top: 0;
        left: 0;
        max-width: rem(0);
        padding: inherit;
        color: $yellow-turbo;
        white-space: nowrap;
        overflow: hidden;
        transition-property: max-width;
        transition-timing-function: linear;
        transition-duration: 200ms;
      }

      &:hover,
      &:focus {
        color: inherit;

        &::before {
          max-width: 100%;
        }
      }
    }
  }
  // Opened Overlay Menu
  &.menu-showed {
    .overlay-menu {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0ms, 0;
      transition-duration: 600ms;
      transition-timing-function: step-start, ease-out;

      a {
        opacity: 1;
        transform: translateY(0);
        transition-duration: 400ms;
      }
      @for $i from 1 through 5 {
        li:nth-child(#{$i}) a {
          transition-delay: $i * 200ms;
        }
      }
    }

    .menu-trigger {
      color: $transparent;
    }
  }
  @include breakpoint(large) {
    // Overlay menu
    .overlay-menu {
      a {
        padding: rh(0.75) 0;
        font-size: rem(28);
      }
    }
  }
  @include breakpoint(xlarge) {
    padding-top: rh(0.5);

    .header-row {
      padding: 0 $side-padding--xlarge;
    }

    .logo-wrapper,
    .quick-menu-wrapper {
      @include in-column(5, $gutter: 0);

      a {
        position: relative;
        display: inline-block;
        padding: rh(0.75) 0;

        &::before {
          content: attr(data-value);
          position: absolute;
          top: 0;
          left: 0;
          max-width: rem(0);
          padding: inherit;
          color: $yellow-turbo;
          white-space: nowrap;
          overflow: hidden;
          transition-property: max-width;
          transition-timing-function: linear;
          transition-duration: 200ms;
        }

        &:hover,
        &:focus {
          color: inherit;

          &::before {
            max-width: 100%;
          }
        }
      }

      img {
        height: rem(24);
        padding: rem(2) 0 rem(4);
      }
    }

    .menu-wrapper {
      @include in-column(2);
      text-align: center;

      a {
        padding: rh(0.75) 0;
      }
    }

    .quick-menu-wrapper {
      display: block;

      ul {
        @include reset-ul(true);
        text-align: right;
      }

      li {
        padding-left: rem(40);
      }
    }

    .menu-trigger {
      margin: 0;
    }
    // Overlay menu
    .overlay-menu {
      a {
        padding: rh(0.75) 0;
        font-size: rem(35);
      }
    }
  }
  @include breakpoint(xxlarge) {
    .overlay-menu {
      a {
        font-size: rem(58);
      }
    }
  }
  @include breakpoint(maxed) {
    padding-top: rh(1.5);

    .header-row {
      padding: 0 $side-padding--maxed;
    }

    .logo-wrapper,
    .quick-menu-wrapper {
      a {
        font-size: rem(22);
      }
    }
    // Overlay menu
    .overlay-menu {
      a {
        // padding: rh(1) 0;
        font-size: rem(75);
      }
    }
  }
}

// Hamburger icon and the animation
.icon-hamburger {
  $line-height: 2;
  position: relative;
  width: rem(40);
  height: rem(16);
  color: $menu-fc;
  @include ps-transition(color, transform);
  transition-duration: 500ms;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: rem($line-height);
    background-color: currentColor;
  }

  &:before {
    top: 0;
    @include ps-transition(transform, top);
  }

  &:after {
    bottom: 0;
    @include ps-transition(transform, bottom);
  }

  span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: rem($line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    @include ps-transition(opacity);
  }

  .menu-trigger:hover & {
    color: $yellow-turbo;

    &::before {
      transform: translateY(rem(-5));
    }

    &::after {
      transform: translateY(rem(5));
    }

    .menu-showed & {
      &::before {
        transform: translateY(-50%) rotateZ(45deg);
      }

      &::after {
        transform: translateY(50%) rotateZ(-45deg);
      }
    }
  }

  .menu-showed & {
    transform: rotateZ(180deg);

    &:before {
      top: 50%;
      transform: translateY(-50%) rotateZ(45deg);
    }

    &:after {
      bottom: 50%;
      transform: translateY(50%) rotateZ(-45deg);
    }

    span {
      opacity: 0;
    }
  }
  @include breakpoint(xlarge) {
    $line-height: 2;
    width: rem(50);
    height: rem(22);

    &:after,
    &:before {
      height: rem($line-height);
    }

    span {
      height: rem($line-height);
    }
  }
}
