.nav-header {
  position: fixed;
  width: 100%;
  z-index: $header-page-zi;

  .header-row {
    @include in-row($outer: true);
  }

  .logo-wrapper,
  .menu-wrapper {
    @include in-column(6);

    a {
      display: inline-block;
      padding: rh(0.5) 0;
    }
  }

  .menu-wrapper {
    text-align: right;
  }

  .quick-menu-wrapper {
    display: none;
  }

  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $menu-overlay-bgc;
    opacity: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition-property: transform, opacity;
    transition-delay: 300ms, 0;
    transition-duration: 300ms;
    transition-timing-function: step-start, ease-out;

    ul {
      @include reset-ul;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      display: block;
      text-align: center;
    }
  }

  .menu-trigger {
    position: relative;
    @include ps-transition(color);

    span {
      position: absolute;
      top: 50%;
      right: 0;
      color: $menu-fc;
      opacity: 0;
      transform: translateY(-50%);
      @include ps-transition(opacity);
    }
  }

  &.menu-showed {
    .overlay-menu {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 0ms, 0;
      transition-duration: 300ms;
      transition-timing-function: step-start, ease-out;
    }

    .menu-trigger {
      color: $transparent;

      span {
        opacity: 1;
      }
    }
  }
}
