.nav-header {
  @include in-row();
  position: fixed;
  width: 100%;

  .logo-wrapper,
  .menu-wrapper {
    @include in-column(6);

    a {
      display: inline-block;
      padding: rh(0.5) 0;
    }
  }

  .menu-wrapper {
    text-align: right;
  }

  .quick-menu-wrapper {
    display: none;
  }

  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);

    ul {
      @include reset-ul;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      display: block;
      text-align: center;
    }
  }
}
