@import "keyframes-detail-v2";

.page--detail-v2 {
  // ------
  // Hero Area
  padding-top: rh(2);
  @include breakpoint(medium) {
    padding-top: rh(2.5);
  }
  @include breakpoint(xlarge) {
    padding-top: rh(3.5);
  }

  .is-exiting &.next-project {
    > .hero-area,
    > .project-nav,
    > .project-detail {
      @include ps-animate(exit-detail-to-next-project, 600ms);
    }
  }

  .hero-area {
    position: relative;

    .is-exiting & {
      @include ps-animate(exit-detail, 600ms);
    }

    .project-name {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 !important;
      opacity: 0;
      transform: translateX(-50%) translateY(-30%);
      @include ps-animate(anim-project-name-in, 2.5s);
      @include ps-animate(anim-project-name-in, 2.5s);
    }

    img {
      opacity: 0;
      transform: translateY(50px);
      @include ps-animate(anim-hero-img-in, 1s, 2.2s);
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      padding: rem(6) rem(12);
      font-size: rem(24);
      color: $transparent;
      transform: translateX(-50%) translateY(-50%);
      overflow: hidden;
      @include ps-animate(anim-play-in, 500ms, 3s);
      animation-timing-function: step-end;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        transform: translateX(-100%);
        @include ps-animate(anim-play-after-in, 1s, 3s);
        animation-timing-function: ease-in-out;
      }
    }

    @include breakpoint(medium) {
      a {
        padding: rem(6) rem(18);
        font-size: rem(40);
      }
    }
    @include breakpoint(xlarge) {
      height: calc(100vh - #{rh(7)});

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      a {
        padding: rem(6) rem(24);
        font-size: rem(50);
      }
    }
  }
  // ------
  // project content
  .project-nav {
    padding: rh(0.5) 0;
    opacity: 0;
    transform: translateY(50px);
    @include ps-animate(anim-project-nav-in, 0.8s, 2.4s);

    .is-exiting & {
      @include ps-animate(exit-detail, 600ms);
    }

    ul {
      @include reset-ul(true);
      text-align: right;
    }

    a {
      display: inline-block;
      padding: rem(6 12);
    }
    @include breakpoint(xlarge) {
      padding: rh(0.75) $side-padding--xlarge;

      ul {
        position: relative;
        height: rh(2);
      }

      a {
        position: relative;
        padding: rem(12 0);
        z-index: 1;
      }

      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &:first-child a {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    @include breakpoint(maxed) {
      padding: rh(1) $side-padding--maxed;
    }
  }

  // ------
  // project content
  article {
    // @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
    // opacity: 0;
    $tmp-dist: rem(80);
    // transform: translateY($tmp-dist);
    // @include ps-animate(detail-article-v1, 600ms, 300ms);
    .is-exiting & {
      @include ps-animate(exit-detail, 600ms);
    }
    @include breakpoint(xlarge) {
      // padding: 0 $side-padding--xlarge;
      padding: 0;
    }
    @include breakpoint(maxed) {
      // padding: 0 $side-padding--maxed;
    }
  }
  // ------
  // project description
  .project-description {
    @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
    text-align: center;
    outline: none;

    h1 {
      @include create-rwd-font("headline-lvl2");
      margin-top: 0 !important;
    }
    @include breakpoint(xlarge) {
      padding: 0 $side-padding--xlarge;
    }
    @include breakpoint(maxed) {
      padding: 0 $side-padding--maxed;
    }
  }
  // ------
  // photo gallery
  .photo-gallery {
    @include reset-ul(true);
    margin: 0;
    @include clearfix;

    figure {
      height: rh(7);
      height: calc(#{rh(6)} + 10vw);
      margin: 0;
      padding-bottom: rem(20);
      opacity: 0;
      transform: translateY(50px);
    }

    figcaption {
      @include element-invisible;
    }

    a {
      display: block;
      height: 100%;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .gallery-row {
      @for $row from 1 through 4 {
        &:nth-child(#{$row}) {
          @for $figure from 1 through 4 {
            $tmp-delay: (2 + 0.4 * $figure + 1 * $row ) * 1s;

            figure:nth-child(#{$figure}) {
              @include ps-animate(anim-gallery-figure-in, 500ms, $tmp-delay);
            }
          }
        }
      }
    }
    @include breakpoint(medium) {
      figure {
        height: rh(8);
        height: calc(#{rh(8)} + 2vw);

        &:nth-child(odd) {
          padding-right: rem(10);
        }

        &:nth-child(even) {
          padding-left: rem(10);
        }
      }
    }
    @include breakpoint(large) {
      figure {
        float: left;
        display: inline-block;
        width: 50%;
        height: rh(10);
        height: calc(#{rh(9)} + 4vw);
        padding-right: rem(10) !important;
        padding-left: rem(10) !important;
      }
    }
    @include breakpoint(xlarge) {
      overflow: hidden;

      .gallery-row {
        margin-right: -50%;
        transition-duration: 200ms;
        transition-timing-function: linear;

        &:nth-child(1) {
          transform: translateX(-12.5%);
        }

        &:nth-child(2) {
          transform: translateX(-25%);
        }

        &:nth-child(3) {
          transform: translateX(-12.5%);
        }
      }

      figure {
        position: relative;
        width: 25%;
        height: rh(14);
        height: calc(#{rh(13)} + 3vw);
        padding-bottom: rem(40) !important;
        padding-right: rem(20);
        padding-left: rem(20) !important;

        a:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($black-cod, 0.7);
          opacity: 0;
          @include ps-transition(opacity);
        }
      }

      figcaption {
        @include element-invisible-off;
        position: absolute !important;
        top: 50%;
        width: 100%;
        text-align: center;
        padding: 0 rem(20);
        color: $white;
        opacity: 0;
        transform: translateY(0%);
        @include ps-transition(opacity, transform);
      }

      a {
        &:active,
        &:focus,
        &:hover {
          &:before {
            opacity: 0.85;
          }

          figcaption {
            opacity: 1;
            transform: translateY(-50%);
          }
        }
      }
    }
    @include breakpoint(maxed) {
      figure {
        height: rh(18);
        height: calc(#{rh(17)} + 3vw);
        padding-bottom: rem(60) !important;
        padding-right: rem(30);
        padding-left: rem(30) !important;
      }
    }
  }

}
