@import "keyframes-projects";

.page--projects {
  // --------
  // Layout of the page

  // --------
  // Thumbnails list
  .thumbnails-list {
    @include reset-ul;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;

    .project-thumbnail {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 65%;
      height: 65%;
      transform: translateX(-50%) translateY(-50%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      @include ps-transition(opacity);
    }
    .project-thumbnail.showed {
      img {
        opacity: 1;
      }
    }
  }

  // --------
  // Projects List
  .projects-list {
    @include reset-ul;
    @include in-row($outer: true);
    padding: rh(3) $side-padding--mobile 0;
    @include breakpoint(xlarge) {
      padding: rh(4.5) $side-padding--xlarge 0;
    }
    @include breakpoint(maxed) {
      padding: rh(5.5) $side-padding--maxed 0;
    }

    a {
      position: relative;
      display: inline-block;
      max-width: 60%;
    }

    .project-thumbnail {
      position: absolute;
      top: 50%;
      right: 0;
      width: 80%;
      max-width: rem(200);
      transform: translateY(-50%);
      z-index: -1;
      opacity: 0;
      @include ps-transition(opacity);
      transition-duration: 600ms;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    a.choosed {
      z-index: 1;

      .project-thumbnail {
        opacity: 1;
      }
    }

    li {
      padding: rh(0.5) 0;
      opacity: 0;
      $tmp-px: rem(20);
      transform: translateY($tmp-px);
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          $tmp-delay: (0.3 * $i) * 1s;
          @include ps-animate(anim-project-preview, 500ms, $tmp-delay);
        }
      }

      .is-exiting & {
        opacity: 1;
        transform: translateX(0);
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            $tmp-delay: (0.1 * ($i - 1)) * 1s;
            @include ps-animate(anim-project-preview-out, 300ms, $tmp-delay);

            .project-thumbnail {
              @include ps-animate(anim-project-thumb-out, 300ms, $tmp-delay);
            }
          }
        }
      }
    }
    @include breakpoint(medium) {
      .project-thumbnail {
        max-width: rem(400);

        span {
          color: $white;
          font-size: rem(28);
        }
      }
    }
    @include breakpoint(xlarge) {
      a:active,
      a:focus,
      a:hover {
        h2,
        p {
          color: inherit;
        }
      }
    }
    @include breakpoint(xlarge) {
      h2 {
        font-size: rem(40);
        line-height: (48 / 40);
      }

      p {
        font-size: rem(34);
        line-height: (40 / 34);
      }

      .project-thumbnail {
        max-width: rem(800);

        span {
          font-size: rem(50);
        }
      }
    }
    @include breakpoint(maxed) {
      h2 {
        font-size: rem(48);
        line-height: (56 / 48);
      }

      p {
        font-size: rem(40);
        line-height: (48 / 40);
      }

      .project-thumbnail {
        max-width: rem(1000);

        span {
          font-size: rem(60);
        }
      }
    }
  }
}
