@import "keyframes-projects";

.page--projects {
  // --------
  // Layout of the page
  @include in-row($outer: true);
  padding: rh(4) $side-padding--mobile 0;
  @include breakpoint(large) {
    padding-top: rh(8);
  }
  @include breakpoint(xlarge) {
    padding: rh(15) $side-padding--xlarge 0;
  }
  @include breakpoint(maxed) {
    padding: rh(20) $side-padding--maxed 0;
  }

  // --------
  // Elements of the page
  .projects-list {
    @include reset-ul;

    a {
      position: relative;
      display: block;
    }

    h2,
    p {
      max-width: 60%;
    }

    .project-thumbnail {
      position: absolute;
      top: 50%;
      right: 0;
      width: 80%;
      max-width: rem(200);
      transform: translateY(-50%);
      z-index: -1;
      opacity: 0;
      @include ps-transition(opacity);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    a.choosed .project-thumbnail {
      opacity: 1;
    }

    li {
      padding: rh(0.5) 0;
    }
    @include breakpoint(medium) {
      .project-thumbnail {
        max-width: rem(400);

        span {
          color: $white;
          font-size: rem(28);
        }
      }
    }
    @include breakpoint(xlarge) {
      a:active,
      a:focus,
      a:hover {
        h2,
        p {
          color: inherit;
        }
      }
    }
    @include breakpoint(xlarge) {
      h2 {
        font-size: rem(40);
        line-height: (48 / 40);
      }

      p {
        font-size: rem(34);
        line-height: (40 / 34);
      }

      .project-thumbnail {
        max-width: rem(800);

        span {
          font-size: rem(50);
        }
      }
    }
    @include breakpoint(maxed) {
      h2 {
        font-size: rem(48);
        line-height: (56 / 48);
      }

      p {
        font-size: rem(40);
        line-height: (48 / 40);
      }
      .project-thumbnail {
        max-width: rem(1000);

        span {
          font-size: rem(60);
        }
      }
    }
  }
}
