.page--detail-v1 {
  // ------
  // Hero Area
  .hero-area {
    position: relative;

    a {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black-cod, 0.7);
        opacity: 0;
        @include ps-transition(opacity);
      }

      &:active,
      &:focus,
      &:hover {
        &:before {
          opacity: 0.7;
        }
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      font-size: rem(24);
      transform: translateX(-50%) translateY(-50%);
    }
    @include breakpoint(medium) {
      span {
        font-size: rem(40);
      }
    }
    @include breakpoint(large) {
      height: 80vh;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      span {
        font-size: rem(50);
      }
    }
  }

  // ------
  // project content
  article {
    @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
    @include breakpoint(xlarge) {
      padding: 0 $side-padding--xlarge;
    }
    @include breakpoint(maxed) {
      padding: 0 $side-padding--maxed;
    }
  }
  // ------
  // paragraph style
  p {
    font-style: italic;
  }
  // ------
  // photo gallery
  .photo-gallery {
    @include reset-ul(true);
    margin: rh(1.5) 0;

    figure {
      display: inline-block;
      height: rh(6);
      margin: 0;
    }

    figcaption {
      @include element-invisible;
    }

    a {
      display: block;
      height: 100%;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    @include breakpoint(medium) {
       @include clearfix;

      figure {
        float: left;
        width: 50%;
        height: rh(8);
        padding-bottom: rem(20);

        &:nth-child(odd) {
          padding-right: rem(10);
        }

        &:nth-child(even) {
          padding-left: rem(10);
        }
      }
    }
    @include breakpoint(large) {
      margin-bottom: rh(3);

      figure {
        position: relative;
        height: rh(13);

        a:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($black-cod, 0.7);
          opacity: 0;
          @include ps-transition(opacity);
        }
      }

      figcaption {
        @include element-invisible-off;
        position: absolute !important;
        top: 50%;
        width: 100%;
        text-align: center;
        padding: 0 rem(20);
        color: $white;
        opacity: 0;
        transform: translateY(0%);
        @include ps-transition(opacity, transform);
      }

      a {
        &:active,
        &:focus,
        &:hover {
          &:before {
            opacity: 0.85;
          }

          figcaption {
            opacity: 1;
            transform: translateY(-50%);
          }
        }
      }
    }
    @include breakpoint(xlarge) {
      margin-top: rh(4);

      figure {
        height: rh(19);
        padding-bottom: rem(40);

        &:nth-child(odd) {
          padding-right: rem(20);
        }

        &:nth-child(even) {
          padding-left: rem(20);
        }
      }
    }
    @include breakpoint(maxed) {
      figure {
        height: rh(23);
        padding-bottom: rem(60);

        &:nth-child(odd) {
          padding-right: rem(30);
        }

        &:nth-child(even) {
          padding-left: rem(30);
        }
      }
    }
  }

}
