@import "keyframes-projects";

.page--projects {
  // --------
  // Layout of the page
  @include in-row($outer: true);
  padding: rh(3) $side-padding--mobile 0;
  @include breakpoint(xlarge) {
    padding: rh(4) $side-padding--xlarge 0;
  }
  @include breakpoint(maxed) {
    padding: rh(6) $side-padding--maxed 0;
  }

  // --------
  // Projects List
  .projects-list {
    @include reset-ul;

    .project-preview {
      height: calc(#{rh(5)} + 5vh + 5vw);
      margin-bottom: rh(1);

      a {
        overflow: hidden;

        // h2,
        // img {
        //   // opacity: 0;
        //   transform: translateX(-100%);
        // }
      }
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          $tmp-delay: (0.3 * $i) * 1s;

          a {
            &::after {
              @include ps-animate(anim-project-preview-after-in, 400ms, $tmp-delay);
            }
          }
        }
      }

      .is-exiting & {
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            $tmp-delay: (0.25 * $i - $i / 10) * 1s;
            @include ps-animate(anim-project-preview-out, 600ms, $tmp-delay);
          }
        }
      }
    }

    a {
      position: relative;
      display: block;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: rem(10);
    }
    @include breakpoint(medium) {
      margin-left: rem(-15);
      margin-right: rem(-15);

      .project-preview {
        @include in-column(6);

        &:last-child {
          @include grid-column-end;
        }
      }
    }
    @include breakpoint(xlarge) {
      margin-left: rem(-20);
      margin-right: rem(-20);

      h2 {
        font-size: rem(36);
        padding: rem(20);
        line-height: 1.2;
        opacity: 0;
        transform: translateX(-100%);
        z-index: 2;
        @include ps-transition(opacity);
      }

      a {
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba($black-cod, 0.5);
          opacity: 0;
          transform: translateX(-100%);
          z-index: 1;
          @include ps-transition(opacity);
        }

        &::after {
          background-color: rgba($black-cod, 1);
          opacity: 1;
          transform: translateX(0%);
          @include ps-transition(transform);
        }

        &:active,
        &:focus,
        &:hover {
          &::before,
          h2 {
            opacity: 1;
          }
        }
      }

      .project-preview {
        @include in-column(4, $gutter: 40);
        height: calc(#{rh(6)} + 6vh + 5vw);
        margin-bottom: rem(40);

        &:first-child,
        &:nth-child(2) {
          @include in-column(6, $gutter: 40);
          height: calc(#{rh(10)} + 5vh + 7vw);

          h2 {
            font-size: rem(48);
            padding: rem(30);
          }
        }
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            $tmp-delay: (0 + 0.35 * $i + $i / 10) * 1s;

            a {
               &::before,
              h2 {
                @include ps-animate(anim-project-preview-content-hover-in, 700ms, $tmp-delay);
                animation-timing-function: step-end;
              }
            }
          }
        }
      }
    }
    @include breakpoint(xxlarge) {
      h2 {
        font-size: rem(42);
        font-size: calc(rem(42) + 2vh);
      }

      .project-preview {
        height: calc(#{rh(7)} + 6vh + 5vw);

        &:first-child,
        &:nth-child(2) {
          height: calc(#{rh(11)} + 5vh + 7vw);

          h2 {
            font-size: rem(56);
            font-size: calc(rem(56) + 2vh);
          }
        }
      }
    }
    @include breakpoint(maxed) {
      h2 {
        font-size: rem(56);
        padding: rem(30);
      }

      .project-preview {
        height: calc(#{rh(8)} + 6vh + 5vw);

        &:first-child,
        &:nth-child(2) {
          height: calc(#{rh(12)} + 5vh + 7vw);

          h2 {
            font-size: rem(75);
            padding: rem(40);
          }
        }
      }
    }
  }
}
