@import "keyframes-home"; // animations

.page--home {
  main {
    @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
    @include breakpoint(xlarge) {
      padding: 0 $side-padding--xlarge;
    }
    @include breakpoint(maxed) {
      padding: 0 $side-padding--maxed;
    }
  }
}

.introduction-flyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $intro-bgc;
  z-index: $intro-zi;
  @include ps-animate(anim-intro-flyout, 2.5s);

  img {
    position: relative;
    top: 50%;
    display: block;
    width: 90%;
    max-width: rem(400);
    margin: 0 auto;
    opacity: 0;
    transform: translateY(0%);
    @include ps-animate(anim-intro-logo, 2.5s);
  }
}

.home-offer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  ul {
    @include reset-ul;
    flex: 1 1 100%;
  }

  li {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) .label {
        $tmp-delay: (3 + 0.25 * $i) * 1s;

        &::after {
          @include ps-animate(anim-home-offer-after, 1000ms, $tmp-delay);
        }

        .value {
          @include ps-animate(anim-home-offer, 500ms, $tmp-delay);
        }
      }
    }
  }

  .is-exiting & {
    li {
      opacity: 1;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $tmp-delay: (0.25 * (5 - $i)) * 1s;
          @include ps-animate(anim-home-offer-out, 600ms, $tmp-delay);
        }
      }
    }
  }

  a {
    position: relative;
    display: block;
    padding: rh(0.5) 0;
    font-size: calc-rem(56);
    line-height: 1;
    text-align: right;
    outline: none;
    @include ps-transition(color);
  }

  .manifest-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    @include ps-transition(opacity);
    transition-duration: 500ms;

    span {
      @include element-invisible;
    }

    &.showed {
      opacity: 1;

      .is-exiting & {
        @include ps-animate(anim-manifest-img-out, 1000ms, 500ms);
      }
    }

    &.unique {
      background-image: url('../img/home-unique.jpg');
    }

    &.focused {
      background-image: url('../img/home-focused.jpg');
    }

    &.craft {
      background-image: url('../img/home-craft.jpg');
    }

    &.passion {
      background-image: url('../img/home-passion.jpg');
    }

    &.care {
      background-image: url('../img/home-care.jpg');
    }
  }

  .choose {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black-cod, 0.9);
    z-index: $home-choose-layer-zi;
    opacity: 0;
    @include ps-animate(anim-home-choose--mobile, 1500ms, 4800ms);

    strong {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: rem(48);
      transform: translateY(-50%) translateX(-50%);
    }

    &.visually-hidden {
      @include element-invisible;
    }
  }

  .loading-label,
  .play {
    display: none;
  }

  .label {
    position: relative;
    display: block;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $home-loading-bgc;
      transform: translateX(-100%);
      transition-property: transform;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $home-loading-bgc;
      transform: translateX(-100%);
      @include ps-transition(transform);
    }

    .value {
      position: relative;
      display: block;
      transform: translateX(-100%);
      opacity: 0;
      z-index: 1;

      &::before {
        content: attr(data-value);
        position: absolute;
        top: 0;
        left: 0;
        max-width: rem(0);
        color: $home-offer-fc--choosed;
        white-space: nowrap;
        overflow: hidden;
        transition-property: max-width;
        transition-timing-function: linear;
        transition-duration: 2000ms;
      }
    }
  }
  @include breakpoint(medium) {
    a {
      font-size: calc-rem(50);
      line-height: (56 / 50);
    }
  }
  @include breakpoint(large) {
    .choose {
      @include in-row($outer: true);
      position: absolute;
      top: 50%;
      left: 0;
      width: auto;
      height: auto;
      transform: translateY(-50%);
      background-color: $transparent;
      z-index: 0;
      opacity: 0;
      @include ps-animate(anim-home-choose, 1000ms, 4800ms);

      strong {
        position: static;
        top: auto;
        left: auto;
        font-size: rem(50);
        color: $home-offer-fc;
        transform: none;
      }
    }

    li {
      text-align: right;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: calc-rem(78);
      line-height: 1;

      &:not(.choosed) {
        &:active,
        &:focus,
        &:hover {
          color: $home-offer-fc--hover;
        }
      }
    }

    .link-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      margin-left: auto;

      .play-line {
        position: relative;
        flex: 1 1 auto;
        opacity: 0;
        @include ps-transition(opacity);

        &:after {
          content: '';
          $temp: rem(40);
          position: absolute;
          top: 50%;
          left: $temp / 2;
          display: inline-block;
          width: calc(100% - #{$temp});
          border: calc-rem(1) solid $home-offer-fc;
          margin: 0;
          transform: translateY(-50%);
        }
      }

      .play,
      a {
        flex: 0 0 auto;
      }

      .play {
        display: flex;
        align-items: center;
        font-size: rem(32);
        line-height: 1;
        color: $home-offer-fc;
        vertical-align: bottom;
        overflow: hidden;

        span {
          transform: translateX(-100%);
          opacity: 0;
          @include ps-transition(opacity, transform);
        }
      }

      .loading-label {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        font-size: rem(32);
        transform: translateY(-50%);
        overflow: hidden;

        span {
          line-height: 1.2;
          color: $home-offer-fc--choosed;
          opacity: 0;
          transform: translateX(-100%);
          @include ps-transition(transform, opacity);

          i {
            font-style: normal;
            opacity: 0;
          }
        }
      }
    }

    li.choosed {
      a {
        color: $home-offer-fc--choosed;
      }

      .play-line {
        opacity: 1;
      }

      .play {
        span {
          transform: translateX(0%);
          opacity: 1;
        }
      }
    }

    li.loading {
      .play-line {
        opacity: 0;
      }

      .play {
        span {
          transform: translateX(100%);
          opacity: 1;
        }
      }

      .loading-label {
        span {
          opacity: 1;
          transform: translateX(0%);

          i {
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                $tmp-delay: (125 + 300 * $i) * 1ms;
                @include ps-animate(anim-loading-dots, 900ms, $tmp-delay);
                animation-iteration-count: infinite;
                animation-direction: alternate;
              }
            }
          }
        }
      }

      .value {
        color: $transparent;

        &::before {
          max-width: rem(400);
        }
      }
    }
  }
  @include breakpoint(xlarge) {
    a {
      font-size: calc-rem(76);
      line-height: (84 / 76);
      @media (min-height: 680px) {
        padding: 1.5vh 0;
      }
    }

    .link-wrapper {
      width: 50%;

      .play-line {
        &:after {
          width: 100%;
          left: rem(-20);
        }
      }

      .play {
        font-size: rem(46);
        transform: translateX(-50%);
      }

      .loading-label {
        font-size: rem(46);
        transform: translateX(-50%) translateY(-50%);
      }
    }

    li.loading {
      .value {
        &::before {
          max-width: rem(500);
        }
      }
    }

    .choose {
      padding: 0 $side-padding--xlarge;
    }
  }
  @include breakpoint(xxlarge) {
    a {
      @media (min-height: 680px) {
        padding: 0.5vh 0;
        font-size: calc-rem(110);
        line-height: 1;
      }
    }

    li.loading {
      .value {
        &::before {
          max-width: rem(550);
        }
      }
    }
  }
  @include breakpoint(maxed) {
    a {
      @media (min-height: 781px) {
        padding: 1vh 0;
        font-size: calc-rem(140);
      }
    }

    .link-wrapper {
      .play {
        font-size: rem(54);
      }

      .loading-label {
        font-size: rem(54);
      }
    }

    .choose {
      padding-left: calc((100vw - #{$maxed-row-width}) / 2 + #{$side-padding--maxed});
    }
  }
}

// Social bar on the bottom of the hompage
.page--home .social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: rh(0.5);
  opacity: 0;
  z-index: 10;
  @include ps-animate(anim-social-bar, 3s);

  .is-exiting & {
    @include ps-animate(anim-social-bar-out, 500ms);
  }

  nav {
    @include in-row($outer:true);
  }

  ul {
    @include reset-ul(true);
    text-align: center;
  }

  a {
    display: block;

    &:after {
      padding: rem(10);
    }

    &.facebook:after {
      @include icon--facebook;
    }

    &.vimeo:after {
      @include icon--vimeo;
    }

    &.instagram:after {
      @include icon--instagram;
    }

    span {
      @include element-invisible();
    }
  }
  @include breakpoint(xlarge) {
    padding-bottom: rh(1.5);

    a:after {
      font-size: rem(22);
    }
  }
}
