@import "keyframes-home"; // animations

.page--home {
  main {
    @include in-row($outer: true);
    padding: 0 $side-padding--mobile;
    @include breakpoint(xlarge) {
      padding: 0 $side-padding--xlarge;
    }
    @include breakpoint(maxed) {
      padding: 0 $side-padding--maxed;
    }
  }
}

.introduction-flyout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $intro-bgc;
  z-index: $intro-zi;
  @include ps-animate(anim-intro-flyout, 2.5s);

  img {
    position: relative;
    top: 50%;
    display: block;
    width: 90%;
    max-width: rem(400);
    margin: 0 auto;
    opacity: 0;
    transform: translateY(0%);
    @include ps-animate(anim-intro-logo, 2.5s);
  }
}

.home-offer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  ul {
    @include reset-ul;
    flex: 1 1 100%;
  }

  li {
    opacity: 0;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $tmp-delay: (3 + 0.3 * $i) * 1s;
        @include ps-animate(anim-home-offer, 800ms, $tmp-delay);
      }
    }
  }

  .is-exiting & {
    li {
      opacity: 1;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $tmp-delay: (0.25 * (5 - $i)) * 1s;
          @include ps-animate(anim-home-offer-out, 600ms, $tmp-delay);
        }
      }
    }
  }

  span {
    display: none;
  }

  a {
    position: relative;
    display: block;
    padding: rh(0.5) 0;
    font-size: calc-rem(30);
    line-height: (36 / 30);
    text-align: center;
    @include ps-transition(color);
  }

  .manifest-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    @include ps-transition(opacity);

    &.showed {
      opacity: 1;

      .is-exiting & {
        @include ps-animate(anim-manifest-img-out, 1000ms, 500ms);
      }
    }

    &.unique {
      background-image: url('../img/home-unique.jpg');
    }

    &.focused {
      background-image: url('../img/home-focused.jpg');
    }

    &.craft {
      background-image: url('../img/home-craft.jpg');
    }

    &.passion {
      background-image: url('../img/home-passion.jpg');
    }

    &.care {
      background-image: url('../img/home-care.jpg');
    }

  }
  @include breakpoint(medium) {
    a {
      font-size: calc-rem(50);
      line-height: (56 / 50);
    }
  }
  @include breakpoint(large) {
    .choose {
      position: absolute;
      display: block;
      top: 50%;
      font-size: 0.4em;
      color: $home-offer-fc;
      transform: translateY(-50%);
      opacity: 0;
      @include ps-transition(opacity);
    }

    .play {
      position: relative;
      display: inline-block;
      padding-right: calc-rem(140);
      font-size: 0.4em;
      line-height: calc-rem(78);
      color: $home-offer-fc;
      vertical-align: bottom;
      opacity: 0;
      @include ps-transition(opacity);

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        display: inline-block;
        width: calc-rem(100);
        border: calc-rem(1) solid currentColor;
        margin: 0 calc-rem(20);
        transform: rotateY(-50%);
      }
    }

    a {
      font-size: calc-rem(78);
      line-height: 1;
      text-align: right;

      &:not(.choosed) {
        &:active,
        &:focus,
        &:hover {
          color: $home-offer-fc--hover;

          .choose {
            opacity: 1;
          }
        }
      }

      &.choosed {
        color: $home-offer-fc--choosed;

        .play {
          opacity: 1;
        }
      }
    }
  }
  @include breakpoint(xlarge) {
    a {
      font-size: calc-rem(76);
      line-height: (84 / 76);
    }
  }
  @include breakpoint(xxlarge) {
    a {
      font-size: calc-rem(84);
      line-height: (96 / 84);
    }
  }
  @include breakpoint(maxed) {
    a {
      font-size: calc-rem(110);
      line-height: (120 / 110);
    }
  }
}

// Social bar on the bottom of the hompage
.social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: rh(0.5);
  opacity: 0;
  @include ps-animate(anim-social-bar, 3s);

  .is-exiting & {
    @include ps-animate(anim-social-bar-out, 500ms);
  }

  nav {
    @include in-row($outer:true);
  }

  ul {
    @include reset-ul(true);
    text-align: center;
  }

  a {
    display: block;

    &:after {
      padding: rem(10);
    }

    &.facebook:after {
      @include icon--facebook;
    }

    &.vimeo:after {
      @include icon--vimeo;
    }

    &.instagram:after {
      @include icon--instagram;
    }

    span {
      @include element-invisible();
    }
  }
  @include breakpoint(xlarge) {
    padding-bottom: rh(1.5);

    a:after {
      font-size: rem(22);
    }
  }
}
