// =======================
// Project Mixins & Functions
//
// In this section you can find all project specific mixins, which were created only for this project.
// =======================


// *********************
// @m ps-transition
//
// This is the most common transition of the project. As the arguments it takes only
// the atributes that should be transited.
//
// - __$proterty__ - any number of properties (no default)
//
// __Samples:__
// * <code>@include ps-transition(color);</code>
// * <code>@include ps-transition(background-color, color);</code>
$ps-transition-duration: 200ms !default;

@mixin ps-transition($property...) {
  @include transition-property($property);
  @include transition-duration($ps-transition-duration);
  @include transition-timing-function(ease-out);
}

@mixin center-horizontal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin ps-animate($name, $dur: 2s, $delay: 0s, $tf: ease-out, $fm: forwards) {
  animation-name: $name;
  animation-duration: $dur;
  animation-timing-function: $tf;
  animation-fill-mode: $fm;
  animation-delay: $delay;
}
