// =======================
// Projects Z-Indexes
//
// In this file must be defined all z-indexes in project as variables to
// easy compare each z-index of each element against other element.
// =======================
$header-page-zi: 10;

$intro-zi: 9;
$intro-zi--after-anim: -1;
