$generate-styleguide-classes: true !default;

@if $generate-styleguide-classes {
  // Volta Text
  @font-face {
    font-family: VoltaModernText;
    src: url("../fonts/VoltaModernText-55Roman.otf") format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: VoltaModernText;
    src: url("../fonts/VoltaModernText-75Bold.otf") format("opentype");
    font-weight: 700;
  }
  // Volta Modern
  @font-face {
    font-family: VoltaModernDisplay;
    src: url("../fonts/VoltaModernDisplay-45Light.otf") format("opentype");
    font-weight: 300;
  }
  // @font-face {
  //   font-family: VoltaModernDisplay;
  //   src: url("../fonts/VoltaModernDisplay-65Medium.otf") format("opentype");
  //   font-weight: 600;
  // }
  @font-face {
    font-family: VoltaModernDisplay;
    src: url("../fonts/VoltaModernDisplay-75Bold.otf") format("opentype");
    font-weight: 700;
  }
  @font-face {
    font-family: VoltaModernDisplay;
    src: url("../fonts/VoltaModernDisplay-95Black.otf") format("opentype");
    font-weight: 900;
  }
}
