.page--detail-v2 .social-bar,
.page--projects .social-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: rh(0.5);
  opacity: 0;
  z-index: -1;
  transform: translateY(50%);
  @include ps-transition(transform, opacity, z-index);
  transition-delay: 0ms;
  transition-duration: 600ms;
  transition-timing-function: ease-out, ease-out, step-end;

  .menu-showed + & {
    opacity: 1;
    transform: translateY(0%);
    z-index: 10;
    transition-delay: 200ms;
    transition-timing-function: ease-out, ease-out, step-start;
  }

  nav {
    @include in-row($outer:true);
  }

  ul {
    @include reset-ul(true);
    text-align: center;
  }

  a {
    display: block;

    &:after {
      padding: rem(10);
    }

    &.facebook:after {
      @include icon--facebook;
    }

    &.vimeo:after {
      @include icon--vimeo;
    }

    &.instagram:after {
      @include icon--instagram;
    }

    span {
      @include element-invisible();
    }
  }
  @include breakpoint(xlarge) {
    padding-bottom: rh(1.5);

    a:after {
      font-size: rem(22);
    }
  }
}
